[user]
  name = mironal
  email = miro.gunp@gmail.com
[color]
  ui = auto
[alias]
  ch = checkout
  s = status
  br = branch
  m = merge
  fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
[core]
  editor = vim -c \"set fenc=utf-8\"
  precomposeunicode = true
  quotepath = false
  excludesfile = /Users/miro/.gitignore_global
  commentchar = ^
[push]
  default = simple
[merge]
  ff = false
[pull]
  rebase = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
  user = mironal
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[include]
  path=~/dotfiles/gitconfig.local
#driver for merging XCode project files
[merge "mergepbx"]
  name = XCode project files merger
  driver = mergepbx %O %A %B
[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line

