.bash_history
.bash_logout
.bash_profile
.bundler
.cache
.cvspass
.dbshell
.forever
.gem
.gnupg
.ivy2
.lesshst
.mysql_history
.neocon
.node-gyp
.npm
.nvm
.pki
.sbt
.scala_history
.sqlite_history
.ssh
.viminfo
.vim/bundle
.gitconfig
app
bin
bkup
doc
src
tmp
